/* SMALL MOBILE VIEW */
@media screen and (max-width: 500px) {
    /* header */
    header {
        width: 70px;
    }

    #logo-full img{
        display: none;
    }

    #logo-small, .general {
        width: 50%;
        margin: 0 auto;
    }

    #logo-small img {
        padding: 20px 0;
        display: block;
        position: relative;
        z-index:2;    
    }

    .general img {
        padding: 20px 0;
        margin: 0;
    }
    #app-nav a {
        padding: 0;
        border-bottom: 3px solid transparent;
    }

    #app-nav a:focus {
        border-bottom: 3px solid #C0FE5C;
        border-left: 3px solid transparent;
    }

    .general span, .play-items,
    .list-container, #profile span, hr{
        display: none;
    }

    nav #profile {
        width: 70px;
    }

    #profile>div {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    #profile img {
        width: 30px;
        height: 30px;
    }

    div.logo-profile {
        margin-top: 20px;
        width: 40px;
        height: 40px;
    }

    /* main */
    main {
        width: calc(100% - 70px);
    }
}