/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    overflow: hidden;
}

.float-container:after {
    content: '';
    display: table;
    clear: both;
}

/* HEADER */
header {
    width: 200px;
    background-color: #000;
    height:calc(100vh - 80px);
    font-weight: 600;
    position: relative;
    float: left;
}
#logo-full {
    background-color: #000;
    position: relative;
    z-index:2;
}

#logo-full img{
    width: 120px;
    height: auto;
    margin: 10px 0 20px 15px;
}

#app-nav a {
    color: #B4B3B3;
    text-decoration: none;
    padding:7px 0 7px 15px;
    border-left: 3px solid transparent;
    font-size: .8rem;
    display: inline-block;
    width: 100%;
    filter: invert(.3);
}

#app-nav a img {
    width: 25px;
    vertical-align: middle;
}

#app-nav a:hover, #app-nav a:focus {
    color: #fff;
    filter: none;
}

#app-nav a:focus {
    border-left: 3px solid #C0FE5C;
}

.play-items {
    color: #fff;
    margin: 20px 0 20px 15px;
    font-size: 1.2rem;
}
#app-nav a i.fas {
    font-weight: 900;
    font-size: 2rem;
    vertical-align: middle;
}

#app-nav .play-li a {
    font-size: .7rem;
}

.list-container {
    max-height: 320px;
    overflow-y: scroll;
}

#profile {
    background-color: #000;
    color: #fff;
    font-size: .6rem;
    width: 200px;
    padding: 10px;
    position: fixed;
    bottom: 80px;
}

#profile img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#profile hr {
    margin: 10px 0;
}

div.logo-profile {
    display: inline-block;
    background-color: #808080;
    background-image: url("../img/profile.svg");
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    vertical-align: middle;
}

#profile span:last-child {
    font-size: 1rem;
    vertical-align: middle;
    margin-left: 5px;
}

/* MAIN */
main {
    width: calc(100% - 200px);
    height:calc(100vh - 80px);
    overflow-y: scroll;
    float: left;
    /* debug */
    background-color: cornflowerblue;
}

    /* section button */
#main-btn {
    height: 80px;
    /* debug */
    background-color: rgba(0, 0, 0, .8);
}

    /* section libraries */
#libraries {
    width: 70%;
    margin: 0 auto;
    /* debug */
    height: 50px;
    background-color: sandybrown;
}

    /* section recently played */
#recent {
    /* debug */
    height: 200px;
    background-color: silver;
}

    /* section made-for */
#made-for {
    /* debug */
    height: 200px;
    background-color: springgreen;
}

    /* section popular */
#popular {
    /* debug */
    height: 200px;
    background-color: tomato;
}

/* FOOTER */
footer {
    background-color: #282828;
    position: fixed;
    height: 80px;
    width: 100%;
    /* debug */
}


