/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    overflow: hidden;
    background-color: #151921;
}

.float-container:after {
    content: '';
    display: table;
    clear: both;
}

/* HEADER */
header {
    width: 200px;
    background-color: #000;
    height:calc(100vh - 80px);
    font-weight: 600;
    float: left;
}

#logo-full {
    background-color: #000;
    position: relative;
    z-index:2;
}

#logo-full img{
    width: 120px;
    height: auto;
    margin: 10px 0 20px 15px;
}

#logo-small img {
    display: none;
}

#app-nav a, #libraries a {
    color: #B4B3B3;
    text-decoration: none;
    padding:5px 0 5px 15px;
    border-left: 3px solid transparent;
    font-size: .8rem;
    display: inline-block;
    width: 100%;
    filter: invert(.3);
}

#app-nav a img {
    width: 25px;
    vertical-align: middle;
}

#app-nav a:hover, #app-nav a:focus, 
#libraries a:hover, #libraries a:focus  {
    color: #fff;
    filter: none;
}

#app-nav a:focus {
    border-left: 3px solid #C0FE5C;
}

.play-items {
    color: #fff;
    margin: 20px 0 20px 15px;
    font-size: 1.2rem;
}
#app-nav a i.fas {
    font-weight: 900;
    font-size: 2rem;
    vertical-align: middle;
}

#app-nav .play-li a {
    font-size: .7rem;
}

.list-container {
    overflow-y: auto;
    max-height: 200px;
}

#profile {
    background-color: #000;
    color: #fff;
    font-size: .6rem;
    width: 200px;
    padding: 10px;
}

.flex {
    height: calc(67vh - 80px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}


#profile img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#profile hr {
    margin: 10px 0;
}

div.logo-profile {
    display: inline-block;
    background-color: #808080;
    background-image: url("../img/profile.svg");
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    vertical-align: middle;
}

#profile span:last-child {
    font-size: 1rem;
    vertical-align: middle;
    margin-left: 5px;
}

/* MAIN */
main {
    width: calc(100% - 200px);
    height:calc(100vh - 160px);
    float: left;
    position: relative;
    /* debug */
    background-color: #151921;
}
#scroll-cont {
    padding-top: 80px;
    /* overflow-y: scroll; */
    max-height: calc(100vh - 80px);
}

    /* section button */
#main-btn {
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    height: 80px;
    background-color: rgba( 10, 10, 10, 0.7);
}

.btn {
    background-color: transparent;
    color: #fff;
    padding: 10px 50px;
    border-radius: 20px;
    border: 2px solid #fff;
    float: right;
    margin: 15px 30px 0 0;
}

.btn:hover {
    animation: .4s linear;
    transform: scale(1.1);
    cursor: pointer;
}

    /* section libraries */
#libraries {
    text-align: center;
    background-color: #161921;
    padding-top: 10px;
}

#libraries li {
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

#libraries li div {
    width: 50%;
    padding: 10px 0 0 0;
    margin: 0 auto;
    border-bottom: 3px solid #C0FE5C;
    visibility: hidden;
}

#libraries a:focus div{
    visibility: visible;
}

    /* section recently played */
.center {
    width: 95%;
    margin: 0 auto;
}

#recent .flex {
    flex-flow: row wrap;
    overflow: auto;
    overflow-x: hidden;
}

section h2 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 50px;
}

.album {
    text-align: center;
    color: white;
    max-width: calc(100% / 6);
    padding: 15px;
    min-width: 180px;
}

.cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
}

.cover.heavy {
    background-image: url('../img/metal_lifting.jpg');
}

.cover.strange {
    background-image: url('../img/stranger.jpeg');
}

.cover.quiet {
    background-image: url('../img/aquietplace.jpeg');
}

.cover.split {
    background-image: url('../img/split.jpeg');
}

.cover.cure {
    background-image: url('../img/cure.jpeg');
}

.cover.sinister {
    background-image: url('../img/sinister.jpeg');
}

.cover:hover .play-hover{
    background-color: rgba(0, 0, 0, 0.7);
}

.fa-play-circle {
    line-height: 180px;
    font-size: 50px;
    visibility: hidden;
}

.cover:hover .fa-play-circle {
    visibility: visible;
}

.album:hover {
    cursor: pointer;
}

.album h5 {
    font-size: .8rem;
}

.album span {
    font-size: .7rem;
    color: #7C7D81;
}

    /* section made-for */
#made-for {
    /* debug */
    height: 200px;
    /* background-color: springgreen; */
}

    /* section popular */
#popular {
    /* debug */
    height: 200px;
    background-color: tomato;
}

/* FOOTER */
footer {
    background-color: #282828;
    position: fixed;
    height: 80px;
    width: 100%;
    /* debug */
}


